body {
    background-color: #dbf7ef !important;
    font-family: 'Nanum Gothic Coding', monospace !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

/*header */
.caption {
    padding-top: 12.5em;
}
.header-name {
    color: #592e22 !important;

}
.header-info {
    color: #a66f60 !important;

}

/*main*/

.skill-bio {
    background-attachment: fixed;
    background-image: url(images/tyl-biografii.jpg);
}

.skills {
    padding-top: 1.75em;
}
.left-main-text, .right-main-text, .bio-title2, .bio-title {
    color: #88ceba !important;
    font-weight: 400;
}
.left-main-text, .right-main-text {
    font-size: 1.75em;
}
.bio-title, .bio-title2 {
    font-weight: 700;
    font-size: 2.5em;
}
.bio-title2, .right-main-text {
    text-align: right;
}

/*portfolio*/

#portfolio-title {
    text-align: center;
    color: #a66f60 !important;
    font-size: 4em;
}