
body {
    background-color: #dbf7ef !important;
    font-family: 'Nanum Gothic Coding', monospace !important;
    font-style: normal !important;
    font-weight: 700 !important;
}
/*Menu*/

.menu {
    color: #2f5241 !important ;
    background-color: #88ceba;
    padding-left: 0.9em;
    padding-right: 0.9em;
    position: fixed;
    top:0;
    right: 0;
    font-size: 3em;
    display: inline-block;
    cursor: pointer;
}
 .dropdown{
    position: fixed;
    top:4.5em;
    right: 0;
    display: inline-block;

    margin-left: auto;
    margin-right: 0;
    color:#88ceba !important;
}
.dropdown-content {
    display: none;
    position: fixed;
    top:10%;
    left: 84.3em;
    background-color: #2f5241;
    color:#88ceba !important;
    text-align: center;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    color:#88ceba !important;
  }

/*header */
.caption {
    padding-top: 12.5em;
}
.header-name {
    color: #592e22 ;

}
.header-info {
    color: #a66f60 !important;
}

/*main*/

.skill-bio {
    background-attachment: fixed;
    background-image: url(images/tyl-biografii.jpg);
}
.skills {
    padding-top: 7.95em;
}
.left-main-text, .right-main-text, .bio-title2, .bio-title {
    color: #88ceba !important;
    font-weight: 400;

}
.left-main-text, .right-main-text {
    font-size: 1.75em;
}
.bio-title, .bio-title2 {
    font-weight: 700;
    font-size: 2.5em;
    padding-bottom: 1.5em;
}
.bio-title2, .right-main-text {
    text-align: right;
    margin-top: 3em;
}
.bio-title, .left-main-text {
    margin-top: 1.5em;
}

/*portfolio*/

#portfolio-title {
    text-align: center !important;
    color: #a66f60 !important;
    font-size: 4em;
    text-decoration: underline;
}
/*contact*/
.contact-div {
    background-image: url(images/tylkontakt.jpg);
}
.contact-title {
    color: #c3dfcf !important;
    font-weight: 700;
    font-size: 2.85em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 2.5em;
}
.contact-element {
    color: #c3dfcf !important;
    font-weight: 400;
    font-size: 1.75em;
    padding-bottom: 0.5em;
    padding-left: 2.5em;
}
.ostatni {
    padding-bottom: 5.25em;
}
form {
    float: right;
    margin-top: 5.7em;
    padding-right: 15.6em;
}
.form-element {
    padding-top: 4em;
}
#email-input{
    background-color: rgba(152, 235, 194, 0.521);
    border: 1px solid #c3dfcf;

}
textarea#texta {
    background-color: rgba(152, 235, 194, 0.521);
    border: 1px solid #c3dfcf;
}
::placeholder {
    color: rgb(206, 241, 217);
}
#button-color {
    background-color: #c3dfcf;
    color: #592e22;
    font-weight: 700;
    margin-left: 2.9em;
}
/*footer*/

.footer {
    background-color: rgb(1, 7, 0);
    width: 100%;
    text-align: center;
    color: #b9e9cf !important;
    width: 100%;
    float: left;
    padding-left: 3em;
    padding-right: 3em;
    color: #b9e9cf;
    font-size: 18px;
    padding-top: 30px;
}

ol{
    padding: 0;
    margin: 0;
    line-height: 200%;
    list-style-type: none;
    display: inline-block;
    color: #b9e9cf !important;
}


ol a{
    display: block;
    color: #c3dfcf !important;
    text-decoration: none;

}

ol > li{
    float: left;
    width: 150px;
    height: 40px;
    color: #b9e9cf !important;
}

li#styl{
    color: #b9e9cf !important;
}

/*linki*/

a:link{
    color: #a66f60;
}


a:visited{
    color: #a66f60;
}


a:hover{
    color: #a66f60;
}

.Drop_Element:link{
    color:#88ceba !important;
}
.Drop_Element:visited{
    color:#88ceba !important;
}
.Drop_Element:hover{
    color:#cef5df !important;
}
.foot:link{
    color: #b9e9cf !important;
}


.foot:visited{
    color: #b9e9cf !important;
}


.foot:hover{
    color: #2f5241 !important;
}
